<suite name="Suite1" verbose="1" >
    <test name="First"> -
       <classes>
            <class name="tests.RegistrationTests"/>
            <class name="tests.LoginTests"/>
            <class name="tests.CreateCv"/>
            <class name="tests.DeleteCv"/>

        </classes>
    </test>
</suite>